In [1]:
import pandas as pd

In [3]:
s1 = pd.Series([1,2,3,4,5])

In [5]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
type(s1)

pandas.core.series.Series

# Changing Index

In [7]:
s1 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [8]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

# Series Object from Dictionary

In [10]:
# You can also create a series object from a dictionary!!

In [11]:
pd.Series({'a':10,'b':20,'c':30,'d':40,'e':50})

a    10
b    20
c    30
d    40
e    50
dtype: int64

# changing index position

In [12]:
# You can change the index positions
pd.Series({'a':10,'b':20,'c':30,'d':40,'e':50},index=['b','c','d','a','f'])

b    20.0
c    30.0
d    40.0
a    10.0
f     NaN
dtype: float64

# Extracting Individual Elements

In [15]:
#Extracting a single element
l1 = [1,2,3,4,5,6,7,8,9]
s1 = pd.Series(l1)

In [17]:
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [35]:
s1[4]

5

In [19]:
#Extractign a sequence of elements
s1[:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
#Extracting elements from back
s1[-5:]

4    5
5    6
6    7
7    8
8    9
dtype: int64

# Basic math operations on Series

In [26]:
#Adding a Scalar value to series elements
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [28]:
s1+5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
dtype: int64

In [29]:
s1-5

0   -4
1   -3
2   -2
3   -1
4    0
5    1
6    2
7    3
8    4
dtype: int64

In [30]:
s1/2

0    0.5
1    1.0
2    1.5
3    2.0
4    2.5
5    3.0
6    3.5
7    4.0
8    4.5
dtype: float64

In [31]:
s1*3

0     3
1     6
2     9
3    12
4    15
5    18
6    21
7    24
8    27
dtype: int64

In [32]:
#Adding two Series Objects
s2 = pd.Series([10,20,30,40,50,60,70,80,90])

In [33]:
s2

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [34]:
s1+s2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

# Dataframe

In [36]:
pd.DataFrame({'Name':['Anne','Bob','Matt'],'Marks':[75,12,82]})

   Name  Marks
0  Anne     75
1   Bob     12
2  Matt     82

In [44]:
n1 =pd.DataFrame ({'a':[10,33],'b':[20,343],'c':30,'d':40,'e':50})

In [45]:
n1

    a    b   c   d   e
0  10   20  30  40  50
1  33  343  30  40  50

In [47]:
iris=pd.read_csv('E:\\4th Semester\\Machine Learning Using Python\\Dataset\\IRIS.csv')

In [49]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [50]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [51]:
iris.shape

(150, 5)

In [52]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# .iloc[]

In [53]:
iris.iloc[5:11,2:]

    petal_length  petal_width      species
5            1.7          0.4  Iris-setosa
6            1.4          0.3  Iris-setosa
7            1.5          0.2  Iris-setosa
8            1.4          0.2  Iris-setosa
9            1.5          0.1  Iris-setosa
10           1.5          0.2  Iris-setosa

# .loc[  ]

In [57]:
iris.loc[0:3,("sepal_length","petal_length")]

   sepal_length  petal_length
0           5.1           1.4
1           4.9           1.4
2           4.7           1.3
3           4.6           1.5

# Drop Column

In [59]:
iris.drop('species',axis=1)

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

# Dropping rows

In [60]:
i1 = iris.drop([5,6,7],axis=0)

In [61]:
i1

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[147 rows x 5 columns]

In [62]:
i1.head(10)

    sepal_length  sepal_width  petal_length  petal_width      species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa

# More Pandas Functions (Mean, Median, Minimum, Maximum)

In [63]:
iris.min()

sepal_length            4.3
sepal_width               2
petal_length              1
petal_width             0.1
species         Iris-setosa
dtype: object

In [64]:
iris.max()

sepal_length               7.9
sepal_width                4.4
petal_length               6.9
petal_width                2.5
species         Iris-virginica
dtype: object

In [65]:
iris.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [66]:
iris.median()

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [67]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [68]:
def double_make(s):
    return s*2

In [71]:
iris[['sepal_width','petal_width']].apply(double_make)

     sepal_width  petal_width
0            7.0          0.4
1            6.0          0.4
2            6.4          0.4
3            6.2          0.4
4            7.2          0.4
..           ...          ...
145          6.0          4.6
146          5.0          3.8
147          6.0          4.0
148          6.8          4.6
149          6.0          3.6

[150 rows x 2 columns]

In [73]:
iris['species'].value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: species, dtype: int64

In [74]:
iris.sort_values(by='petal_width')

     sepal_length  sepal_width  petal_length  petal_width         species
32            5.2          4.1           1.5          0.1     Iris-setosa
13            4.3          3.0           1.1          0.1     Iris-setosa
37            4.9          3.1           1.5          0.1     Iris-setosa
9             4.9          3.1           1.5          0.1     Iris-setosa
12            4.8          3.0           1.4          0.1     Iris-setosa
..            ...          ...           ...          ...             ...
140           6.7          3.1           5.6          2.4  Iris-virginica
114           5.8          2.8           5.1          2.4  Iris-virginica
100           6.3          3.3           6.0          2.5  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
109           7.2          3.6           6.1          2.5  Iris-virginica

[150 rows x 5 columns]