# Set in Python

In [2]:
s1 = {1,2,3,'a','guddu'}
s1

{1, 2, 3, 'a', 'guddu'}

In [3]:
s1 = {1,2,3,'a','guddu',1,1,1,'guddu','a','a'}
s1

{1, 2, 3, 'a', 'guddu'}

In [4]:
#Update one dictionary's elements with another
s1.add(False)
s1

{1, 2, 3, False, 'a', 'guddu'}

In [8]:
#Updating multiple elements
s1.update([10,20,30])
s1

{1, 10, 2, 20, 3, 30, 'Hello', 'a', 'guddu'}

In [9]:
#Removing an element
s1.remove("guddu")
s1

{1, 10, 2, 20, 3, 30, 'Hello', 'a'}

In [6]:
#Union of two sets
s1 = {1,2,3}
s2 = {'a', 'b', 'c'}
s1.union(s2)

{1, 2, 3, 'a', 'b', 'c'}

In [14]:
#Intersection of two sets
s1 = {1,2,3,4,5,6}
s2 = {5,6,7,8,9,10}
s1.intersection(s2)

{5, 6}