In [1]:
import pandas as pd

In [3]:
s1 = pd.Series([1,2,3,4,5])

In [5]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
type(s1)

pandas.core.series.Series

# Changing Index

In [7]:
s1 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [8]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

# Series Object from Dictionary

In [10]:
# You can also create a series object from a dictionary!!

In [11]:
pd.Series({'a':10,'b':20,'c':30,'d':40,'e':50})

a    10
b    20
c    30
d    40
e    50
dtype: int64

# changing index position

In [12]:
# You can change the index positions
pd.Series({'a':10,'b':20,'c':30,'d':40,'e':50},index=['b','c','d','a','f'])

b    20.0
c    30.0
d    40.0
a    10.0
f     NaN
dtype: float64

# Extracting Individual Elements

In [15]:
#Extracting a single element
l1 = [1,2,3,4,5,6,7,8,9]
s1 = pd.Series(l1)

In [17]:
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [18]:
s1[4]

5

In [19]:
#Extractign a sequence of elements
s1[:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [20]:
#Extracting elements from back
s1[-5:]

4    5
5    6
6    7
7    8
8    9
dtype: int64

# Basic math operations on Series

In [26]:
#Adding a Scalar value to series elements
s1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [28]:
s1+5

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
dtype: int64

In [23]:
#Adding two Series Objects